.footer {
  border-bottom: 1px dashed #ddd;
  border-top: 5px solid #ddd;
  padding: 15px 10px;
  background-color: #f9f9f9;
  &-content {
    max-width: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  &-icon {
    &-pragma {
      margin-top: 3px;
      margin-bottom: 3px;
      height: 18px;
      width: 100px;
      align-self: center;
      margin-left: -10px;
    }
  }
  &-contact {
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-around;
    margin: 5px 0;
    &>svg {
      margin: 0 5px;
    }
  }
  &-work {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #333;
    &>a {
      color: #333;
      &:hover {
        color: #7f7f7f;
      }
    }
  }
  &-pragma {
    text-align: center;
    &>svg {
      display: block;
      margin: 5px auto 0;
    }
  }
}




//- Контакты (всплывающее окно) и Политика конфиденциальности
.footer {
  &_contacts {
    position: relative;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    margin: 15px 0;
    &-content {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: none;
      margin-bottom: 5px;
      z-index: 1000;
      width: 240px;
      text-align: left;
      bottom: 40px;
      background-color: #fff;
      box-shadow: 2px 2px 8px rgba(127,127,127,0.5);
      border-radius: 6px;
      border: 1px solid rgba(127,127,127,0.5);
      padding: 15px;
    }
    &-item {
      margin-bottom: 5px;
      &-lists {
        list-style-type: disc;
        padding-left: 0;
        margin: 0;
      }
      &-list {
        margin-left: 17px;
      }
    }
    &-close {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 2px;
      top: 2px;
      transform: rotate(45deg);
      background: transparent;
      cursor: pointer;
      &:before, &:after  {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #292929;
      }
      &:before {
        width: 20px;
        height: 3px;
      }
      &:after {
        width: 3px;
        height: 20px;
      }
    }
    &-logo {
      margin-bottom: 5px;
    }
    &-button {
      cursor: pointer;
      color: #419fac;
      line-height: 1.2;
      margin-bottom: 5px;
      user-select: none;
    }
    &-conf {
      display: inline-block;
      color: #419fac;
      user-select: none;
      &>br {
        display: none;
      }
    }
  }
}



//- Small
@media (min-width: 600px) {
  .footer {
    &-content {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}
