section.audited.shadow-bottom
    .section-wrapper

        h2.section-title.section-title-divider.audited-title Получите &#32;
            span.blue полный аудит
            |&#32; вашей компании
            br
            |&#32; меньше, чем за минуту

        .audited_block-wrapper
            .audited_block
                h3.audited_block-subtitle После прохождения вы получите:
                .audited_block-items
                    .audited__item.wow.fadeIn.delay-03
                        img.audited__item-img.lazy(data-src='img/quiz/audited_gift-1.jpg', alt='аудит компании')
                        h4.audited__item-title Полный аудит вашей
                            br
                            |&#32; компании

                    .audited__item.wow.fadeIn.delay-04
                        img.audited__item-img.lazy(data-src='img/quiz/audited_gift-2.jpg', alt='подарок')
                        h4.audited__item-title Гарантированный
                            br
                            |&#32; подарок

                    .audited__item.wow.fadeIn.delay-05
                        img.audited__item-img.lazy(data-src='img/quiz/audited_gift-3.jpg', alt='ноутбук')
                        h4.audited__item-title Скидку 20% на настройку
                            br
                            |&#32; рекламы


                button.form-btn.audited_block-btn#openQuiz Получить полный аудит &#32;
                    br
                    span + получить гарантированный подарок



    +quiz


