extends ../_layout-404

block content
    section.section.error404
        .block-wrapper.content-404
            h2.h2-404 Ошибка 404...
            .error__404-images
                img.error-image(src='/img/404-cat-not-found.gif' alt='Ошибка 404 с котиком')
            .h1-404 Страница не найдена
            a.error-404__btn(href='/index.html') Перейти на главную