.eggs__icon-1 {
  background-position: -130px 0px;
  width: 148px;
  height: 144px;
}
.eggs__icon-2 {
  background-position: 0px 0px;
  width: 130px;
  height: 130px;
}
.eggs__icon-3 {
  background-position: -436px 0px;
  width: 184px;
  height: 129px;
}
.eggs__icon-4 {
  background-position: -278px 0px;
  width: 158px;
  height: 120px;
}
