//- Мета данные

- siteDomain = 'https://test.pragma.by/'
- pageTitle = 'Quiz Test'
- pageDescription = 'Quiz Test'


//- Цвет закладки в мобильном браузере
- andriodTabColor = '#D7EAF1'

//- Google Tag Manager
- gtm = 'GTM-000000'

